<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
        
	<head>
		<meta charset="utf-8" />
		<title>Gestion Banque / COMPTES</title>
	</head>
	
	<body>
		<div layout:fragment="content">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Consultation d'un compte</div>
					<div class="panel-body">
						<form th:action="@{/consultercompte}" method="get">
							<div>
								<label>Compte : </label>
								<input type="text" name="codeCpte"/>
								<button type="submit" class="btn btn-primary">OK</button>
							</div>
						</form>
						<div class="text-danger" th:if="${exception}" th:text="${exception.messageErreur}"/>
					</div>
				</div>
				
				<div class="panel panel-primary" th:if="${compte}">
					<div class="panel-heading">Information sur le compte</div>
					<div class="panel-body">
						<div>
							<label>Code</label>  
							<label th:text="${compte.codeCompte}"></label>
						</div>
						<div>
							<label>Date de création</label>
							<label th:text="${compte.dateCreation}"></label>
						</div>
						<div>
							<label>Solde</label>
							<label th:text="${compte.solde}"></label>
						</div>
						<div>
							<label>Type</label>
							<label th:text="${compte.class.simpleName}"></label>
						</div>
						<div th:if="${compte.class.simpleName == 'CompteCourant'}">
							<label>Découvert : </label>
							<label th:text="${compte.decouvert}"></label>
						</div>
						<div th:if="${compte.class.simpleName == 'CompteEpargne'}">
							<label>Taux : </label>
							<label th:text="${compte.taux}"></label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="panel panel-primary" th:if="${compte}">
					<div class="panel-heading">Operations sur le compte</div>
					<div class="panel-body">
						<form th:action="@{/operationcompte}" method="post">
							<input type="hidden" name="codeCpte" th:value="${compte.codeCompte}"/>
							<input type="hidden" name="nomAction" th:value="creerOperation"/>
							<input type="radio" name="typeOperation" value="VERS" checked="checked" onclick="document.getElementById('blocVirement').style.display='none'"></input> <label>Versement</label>
							<input type="radio" name="typeOperation" value="RETR" onclick="document.getElementById('blocVirement').style.display='none'"></input> <label>Retrait</label>
							<input type="radio" name="typeOperation" value="VIRM" onclick="document.getElementById('blocVirement').style.display='block'"></input> <label>Virement</label>
							<div id="blocVirement" style="display:none">
								<label>Versement vers </label>
								<input type="text" name="codeCpt2"></input>
							</div>
							<div>
								<label>Montant : </label>
								<input type="text" name="montant"></input>	
							</div>
							<button type="submit" class="btn btn-primary">SAVE</button> 
						</form> 
						<div class="text-danger" th:if="${operationexception}" th:text="${operationexception.messageErreur}"/>
					</div>
				</div>
				<div class="panel panel-primary" th:if="${compte}">
					<div class="panel-heading">Liste des operations</div>
					<div class="panel-body">
						<table class="table table-striped">
							<tr>
								<th>Num</th><th>Type</th><th>Date</th><th>Montant</th>
							</tr>
							<tr th:each="op:${listeOperations}">
								<td th:text="${op.numero}"></td>
								<td th:text="${op.class.simpleName}"></td>
								<td th:text="${op.dateOperation}"></td>
								<td th:text="${op.montant}"></td>
							</tr>
						</table>
						<div class="container ">
							<ul class="nav nav-pills">
								<li th:each="p,status:${pages}">
									<a th:href="@{/consultercompte(codeCpte=${compte.codeCompte}, page=${status.index})}" th:text="${status.index}"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>