<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>GESTION BANQUE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/monStyle.css" th:href="@{/css/monStyle.min.css}" />

  </head>

  <body>
  
  	<header>
  		<div class="navbar navbar-inverse"></div>
  			<div class="container-fluid"></div>
  				<ul class="navbar navbar-nav">
  					<li><a th:href="@{/operations}">Operations</a></li></ul>
  					<li><a th:href="@{/comptes}">Comptes</a></li></ul>
  					<li><a th:href="@{/clients}">Clients</a></li></ul>

  	</header>
  	
  	<section layout:fragment="content">
  			
  	</section>
  	
  	<footer>
  		<div class="navbar-fixed-bottom">
  			<small>Adresse banque</small>
  		</div>
  	</footer>
  </body>
